Lambda School Data Science

*Unit 2, Sprint 3, Module 3*

---

In [ ]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*
    !pip install eli5

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving CommViolPredUnnormalizedData.txt to CommViolPredUnnormalizedData (1).txt

In [ ]:
!pip install category_encoders==2.*
!pip install eli5

Requirement already satisfied: category_encoders==2.* in /usr/local/lib/python3.7/dist-packages (2.2.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders==2.*) (0.22.2.post1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders==2.*) (0.5.1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders==2.*) (1.4.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders==2.*) (1.19.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders==2.*) (0.10.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders==2.*) (1.1.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders==2.*) (1.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders==2.*) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders==2.*) (2018.9)
Requirement already satisfied: eli5 in /usr/local/lib/python3.7/dist-packages (0.11.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from eli5) (1.15.0)
Requirement already satisfied: attrs>16.0.0 in /usr/local/lib/python3.7/dist-packages (from eli5) (20.3.0)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.7/dist-packages (from eli5) (0.22.2.post1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from eli5) (0.10.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from eli5) (1.4.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from eli5) (2.11.3)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.7/dist-packages (from eli5) (0.8.9)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from eli5) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20->eli5) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->eli5) (1.1.1)

# Boosting and Permutation Importance

- Use xgboost for **gradient boosting**
- Get **permutation importances** for model interpretation and feature selection

In [ ]:
from category_encoders import OrdinalEncoder
from sklearn.ensemble import GradientBoostingClassifier # New model
from sklearn.impute import SimpleImputer
from sklearn.inspection import permutation_importance # For interpretability
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from xgboost import XGBClassifier # Another implementation of new model
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['CommViolPredUnnormalizedData.txt']), na_values=['?'])

## Wrangle Function

In [ ]:
# def wrangle(fm_path, tv_path=None):
#     if tv_path:
#         df = pd.merge(pd.read_csv(fm_path, parse_dates=['date_recorded'], na_values=[-2e-08, 0]), 
#                          pd.read_csv(tv_path)).set_index('date_recorded')

#     else:
#         df = pd.read_csv(DATA_PATH+'waterpumps/test_features.csv', parse_dates=['date_recorded']).set_index('date_recorded')
    
#     # When columns have zeros and shouldn't, they are like null values.
#     # So we will replace the zeros with nulls, and impute missing values later.
#     # Also create a "missing indicator" column, because the fact that
#     # values are missing may be a predictive signal.
#     cols_with_zeros = ['longitude', 'latitude', 'construction_year', 
#                        'gps_height', 'population']
#     for col in cols_with_zeros:
#         df[col] = df[col].replace(0, np.nan)
#         df[col+'_MISSING'] = df[col].isnull()
            
#     # Drop duplicate columns
#     duplicates = ['quantity_group', 'payment_type']
#     df = df.drop(columns=duplicates)
    
#     # Drop recorded_by (never varies) and id (always varies, random)
#     unusable_variance = ['recorded_by', 'id']
#     df = df.drop(columns=unusable_variance)
    
    
#     # Edftract components from date_recorded, then drop the original column
#     df['year_recorded'] = df.index.year
#     df['month_recorded'] = df.index.month
#     df['day_recorded'] = df.index.day

    # # Engineer feature: how many years from construction_year to date_recorded
    # df['years'] = df['year_recorded'] - df['construction_year']
    # df['years_MISSING'] = df['years'].isnull()
    
    # # return the wrangled dataframe
    # return df

In [ ]:
df.head()

  BerkeleyHeightstownship  NJ    39     5320  ...      2  16.41   41.02  1394.59
0          Marpletownship  PA  45.0  47616.0  ...    1.0   4.25  127.56  1955.95
1              Tigardcity  OR   NaN      NaN  ...   22.0  60.87  218.59  6167.51
2        Gloversvillecity  NY  35.0  29443.0  ...    NaN    NaN  306.64      NaN
3             Bemidjicity  MN   7.0   5068.0  ...    5.0  40.05     NaN  9988.79
4         Springfieldcity  MO   NaN      NaN  ...  134.0  88.72  442.95  6867.42

[5 rows x 147 columns]

In [ ]:
df.shape

(2214, 147)

In [ ]:
df.columns=['communityname','State','countyCode','communityCode','fold','pop','perHoush','pctBlack','pctWhite','pctAsian','pctHisp','pct12-21',
            'pct12-29','pct16-24','pct65up','persUrban','pctUrban','medIncome','pctWwage','pctWfarm','pctWdiv','pctWsocsec','pctPubAsst','pctRetire'
            ,'medFamIncome','perCapInc','whitePerCap','blackPerCap','NAperCap','asianPerCap','otherPerCap','hispPerCap','persPoverty','pctPoverty'
            ,'pctLowEdu','pctNotHSgrad','pctCollGrad','pctUnemploy','pctEmploy','pctEmployMfg','pctEmployProfServ','pctOccupManu','pctOccupMgmt'
            ,'pctMaleDivorc','pctMaleNevMar','pctFemDivorc','pctAllDivorc','persPerFam','pct2Par','pctKids2Par','pctKids-4w2Par','pct12-17w2Par'
            ,'pctWorkMom-6','pctWorkMom-18','kidsBornNevrMarr','pctKidsBornNevrMarr','numForeignBorn','pctFgnImmig-3','pctFgnImmig-5','pctFgnImmig-8'
            ,'pctFgnImmig-10','pctImmig-3','pctImmig-5','pctImmig-8','pctImmig-10','pctSpeakOnlyEng','pctNotSpeakEng','pctLargHousFam','pctLargHous'
            ,'persPerOccupHous','persPerOwnOccup','persPerRenterOccup','pctPersOwnOccup','pctPopDenseHous','pctSmallHousUnits','medNumBedrm','houseVacant',
            'pctHousOccup','pctHousOwnerOccup','pctVacantBoarded','pctVacant6up','medYrHousBuilt','pctHousWOphone','pctHousWOplumb','ownHousLowQ'
            ,'ownHousMed','ownHousUperQ','ownHousQrange','rentLowQ','rentMed','rentUpperQ','rentQrange','medGrossRent','medRentpctHousInc','medOwnCostpct'
            ,'medOwnCostPctWO','persEmergShelt','persHomeless','pctForeignBorn','pctBornStateResid','pctSameHouse-5','pctSameCounty-5','pctSameState-5'
            ,'numPolice','policePerPop','policeField','policeFieldPerPop','policeCalls','policCallPerPop','policCallPerOffic','policePerPop2'
            ,'racialMatch','pctPolicWhite','pctPolicBlack','pctPolicHisp','pctPolicAsian','pctPolicMinority','officDrugUnits','numDiffDrugsSeiz'
            ,'policAveOT','landArea','popDensity','pctUsePubTrans','policCarsAvail','policOperBudget','pctPolicPatrol','gangUnit','pctOfficDrugUnit'
            ,'policBudgetPerPop','murders','murdPerPop','rapes','rapesPerPop','robberies','robbbPerPop','assaults','assaultPerPop','burglaries'
            ,'burglPerPop','larcenies','larcPerPop','autoTheft','autoTheftPerPop','arsons','arsonsPerPop','violentPerPop','nonViolPerPop']

In [ ]:
df = df.dropna(axis=0, how="any")

In [ ]:
df.head()

        communityname State  ...  violentPerPop  nonViolPerPop
53         Toledocity    OH  ...         984.96        7910.25
54   Philadelphiacity    PA  ...        1279.60        5253.14
57      Lynchburgcity    VA  ...         753.42        4630.73
98       NewHaventown    CT  ...        2127.02       10988.76
121   Springfieldcity    OH  ...        1497.92        7742.79

[5 rows x 147 columns]

In [ ]:
df.shape

(111, 147)

# Split Data

In [ ]:
target = 'violentPerPop'
X = df.drop(columns=target)
y = df[target]

# Train-validation split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Establish Baseline

In [ ]:
print('Baseline Accuracy Score:', y_train.value_counts(normalize=True).max())

Baseline Accuracy Score: 0.011363636363636364

# Build Model

In [ ]:
# model_skgb = make_pipeline(
#     OrdinalEncoder(),
#     SimpleImputer(),
#     GradientBoostingClassifier(random_state=42)
# )

# model_skgb.fit(X_train, y_train);

ValueError: ignored

In [ ]:
model_xgb = make_pipeline(
    OrdinalEncoder(),
    SimpleImputer(),
    XGBClassifier(random_state=42,
                  n_jobs=-1)
)

model_xgb.fit(X_train, y_train);

# Check Metrics

In [ ]:
print('sklearn Training Accuracy:', model_skgb.score(X_train, y_train))
print('sklearn Validation Accuracy:', model_skgb.score(X_val, y_val))

In [ ]:
print('XGBoost Training Accuracy:', model_xgb.score(X_train, y_train))
print('XGBoost Validation Accuracy:', model_xgb.score(X_val, y_val))

ValueError: ignored

# Tuning / Communication

- How can we determine or communicate which features are most important to our model when making predictions?

**Option 1:** Grab feature importances from our pipeline

- **Plus:** Less computationally expensive.
- **Minus:** Can be misleading.

In [ ]:
importances = model_xgb.named_steps['xgbclassifier'].feature_importances_
feature_names = X_train.columns
feat_imp =  pd.Series(importances, index=feature_names).sort_values()

feat_imp.tail(10).plot(kind='barh')
plt.xlabel('Gini Importance')
plt.ylabel('Feature')

**Option 2:** Drop-column Importance

- Good, but computationally expensive because you have to train a model for each feature.

In [ ]:
col = 'quantity'

model_w_col = make_pipeline(
    OrdinalEncoder(),
    SimpleImputer(),
    XGBClassifier(n_estimators=25,
                  random_state=42,
                  n_jobs=-1)
)

model_w_col.fit(X_train, y_train);

print(f'Training Accuracy w/ "{col}" included:', model_w_col.score(X_val, y_val))

In [ ]:
model_wo_col = make_pipeline(
    OrdinalEncoder(),
    SimpleImputer(),
    XGBClassifier(n_estimators=25,
                  random_state=42,
                  n_jobs=-1)
)

model_wo_col.fit(X_train.drop(columns=col), y_train);

print(f'Training Accuracy w/ "{col}" excluded:', 
      model_wo_col.score(X_val.drop(columns=col), y_val))

In [ ]:
print(f'Drop-column importance of "{col}":', 0.72037-0.678872)

In [ ]:
X_train.shape

**Option 3:** Permutation Importance

In [ ]:
# By hand

# Step 1: Choose my feature
col = 'quantity'

# Step 2: Train model w/ ALL features
model_xgb = make_pipeline(
    OrdinalEncoder(),
    SimpleImputer(),
    XGBClassifier(n_estimators=25,
                  random_state=42,
                  n_jobs=-1)
)

model_xgb.fit(X_train, y_train);

# Step 3: Evaluate model using VALIDATION DATA.
print('XGBoost Validation Accuracy:', model_xgb.score(X_val, y_val))

# Step 4: In VALIDATION DATA, permute the feature we're evaluating
X_val_perm = X_val.copy()
X_val_perm[col] = np.random.permutation(X_val_perm[col])

# Step 5: Calculate our error metric with the permuted data 
print(f'XGBoost Validation Accuracy w "{col}" permuted:', 
      model_xgb.score(X_val_perm, y_val))

In [ ]:
# Using sklearn

perm_imp = permutation_importance(
    model_xgb,
    X_val, 
    y_val,
    n_repeats=5,
    n_jobs=-1,
    random_state=42
)

In [ ]:
data = {'imp_mean': perm_imp['importances_mean'],
      'imp_std': perm_imp['importances_std']}

df = pd.DataFrame(data, index=X_val.columns).sort_values('imp_mean')

In [ ]:
df

In [ ]:
df['imp_mean'].tail(10).plot(kind='barh')